#div1{
  margin-top: 13% ;
}

* {
  box-sizing: border-box;
}

body {
  
  background-color:#3c3b3b;
  color: #fff;
  margin: 0;
}

h1{
  font-size: 30px;
  font-weight: 500;
  margin-left: 43%;
  padding: 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

select,
button {
  border: 1px solid #555;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 2px;
}

select {
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  background-color: #555;
  width: 220px;
  height:  40px;
  padding: 5px;
  border-radius: 10px;
}
button {
  background: #4747c5;
  border-radius: 999px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;  
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  display: block;

  margin: 1rem auto;
 
 
}

article {
  text-align: center;
  transition: all 0.2s linear;
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

span {
  font-weight: bold;
  font-size: 1.2rem;
}




